.gradle
.idea
.intellijPlatform
.qodana
build
*.pem
chain.crt
certificate
.env

# local files
# A folder for storing files you want to manage but not commit
/.aiassistant
/.junie
*.local
*.local.md
/.inline-review-notes/
